/* ************************************* */
/* Styles from Wiki.template             */
/* ************************************* */
.wikileft
{
	float: left;
	width: 15%;
}
.wikileft h3 a
{
	display: block;
}
.wikileft ul
{
	list-style: none;
	line-height: 1.3;
	padding: 0;
	margin: 0;
	padding: 4px;
	padding-bottom: 15px;
}
.wikileft li a
{
	display: block;
	font-size: x-small;
	text-decoration: none;
}
.wikileft li.selected a
{
	font-weight: bold;
}

.wikiright
{
	margin-left: 16%;
}

/* ************************************* */
/* Styles from WikiPage.template         */
/* ************************************* */
div.wikipage_top
{
}
div.wikimenu
{
	float: right;
}
div.wikimenu ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}
.wikicontent p
{
	margin: 0 0 8px 0;
}

.clearright
{
	clear: right;
}

.wikicontent .post
{
	margin: 0;
}
.wikicontent .inner
{
	padding: 0;
	margin: 0;
	border: 0;
}

.wikicontent .post h3, .wikicontent .post h4, .wikicontent .post h5, .wikicontent .post h6
{
	clear: right;
	margin-top: 9px;
	margin-bottom: 9px;
}
.wikicontent .post h3
{
	font-size: 115%;
	border-bottom: 1px solid #666666;
}
.wikicontent .post h4
{
	font-size: 105%;
	border-bottom: 1px solid #666666;
	font-weight: normal;
}
.wikicontent .post h5
{
	font-size: 100%;
	font-weight: normal;
}
.wikicontent .post h6
{
	font-size: 90%;
	font-weight: normal;
}

.wikicontent a.redlink
{
	color: red;
}

.wikitoc
{
	border: 1px solid #AAAAAA;
	background: #F9F9F9;
	padding: 5px;
	font-size: 95%;
	list-style: none;
	clear: right;
}
.wikitoc ul
{
	padding: 0;
}
.wikitoc ul li
{
	list-style: none;
}
.wikitoc ul li ul
{
	padding-left: 1em;
}
.wikitoc ul li ul li
{
	list-style: none;
}

.wiki_sourcebox
{
	width: 100%;
}

/* ************************************* */
/* Styles from WikiHistory.template      */
/* ************************************* */
ul.wikihistory, ul.recent_changes
{
	padding-left: 0.5em;
}
ul.wikihistory li, ul.recent_changes li
{
	list-style: none;
}
ul.wikihistory li span.difflinks, ul.recent_changes li span.difflinks
{
}
ul.wikihistory li span.diffselect, ul.recent_changes li span.diffselect
{
	padding-left: 0.5em;
}
ul.wikihistory li span.diffselect input[type=radio], ul.recent_changes li span.diffselect input[type=radio]
{
	padding: 0 5px;
}
ul.wikihistory li span.date, ul.recent_changes li span.date
{
	padding-left: 0.5em;
	display: inline-block;
	min-width: 15em;
}
ul.wikihistory li span.author, ul.recent_changes li span.author
{
	padding-left: 0.5em;
	display: inline-block;
	min-width: 7.5em;
}
ul.wikihistory li span.page, ul.recent_changes li span.page
{
	padding-left: 0.5em;
	min-width: 15em;
}
ul.wikihistory li span.comment, ul.recent_changes li span.comment
{
	padding-left: 0.5em;
}

.wikidiff
{
	margin: 5px;
}
.diff h3
{
	margin: 0;
}
.wikidiff del
{
	text-decoration: none;
	background-color: #FFDDDD;
}
.wikidiff ins
{
	text-decoration: none;
	background-color: #DDFFDD;
}

div.infobox
{
	margin: 3px 15px;
	padding: 10px;
	border: 1px solid #BDA2A2;
	background-color: #F4EAEA;

}
div.infobox h2
{
	margin-bottom: 5px;
}
div.ibcolblue
{
	border-color: #7883A7;
	background-color: #D3D8E9;
}

/* ************************************* */
/* Styles from TalkPage.template         */
/* ************************************* */
.comment
{
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-opera-border-radius: 5px;
	border-radius: 5px;
}

.commentinfo
{
	background: url(../images/wiki/arrow.png) 20px top no-repeat;
	padding-left: 65px;
	margin-bottom: 1.2em;
}